<h1>Teams</h1>

<%= render partial: 'teams', locals: { teams: @teams } %>

<%= turbo_frame_tag "new_team" do %>
  <group-link-1>
    <%= link_to 'create a team', new_team_path %>
    <%= link_to :home, root_path %>
  </group-link-1>
<% end %>
