<h1>Tournament</h1>

<group-link-1>
  <%= link_to 'home', root_path %>
  <%= link_to 'generate', generate_path, data: { turbo_frame: "tournament" } %>
</group-link-1>


<%= turbo_frame_tag "tournament" do %>

<% end %>
