<h1>Tournament</h1>

<result-1>
  <%= turbo_frame_tag "tournament" do %>
    <%= render partial: "result", locals: { teams: @teams } %>
  <% end %>
</result-1>
<group-link-1>
  <% unless can_start_tournament? with: @teams %>
    <%= link_to "generate teams", generate_path, id: "generate", data: { turbo_frame: "tournament" }, class: "button" %>
  <% end %>
  <%= link_to "home", root_path %>
</group-link-1>
